requests
beautifulsoup4
selenium
phonenumbers
pyvirtualdisplay
requests
undetected_chromedriver
clint
certifi
bs4
colorama>=0.4.1
lxml>=4.4.0
PySocks>=1.7.0
requests-futures>=1.0.0
soupsieve>=1.9.2
stem>=1.8.0 
torrequest>=0.1.0
whois
traceroute